.cart-section {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: var(--tg-theme-text-color, black);
    background: linear-gradient(135deg, black, lightgreen);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-bottom: 60px;
}   

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.order-list {
    margin-top: 20px;
}

.order-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.order-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
}

.total-price {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.return-button .button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--tg-theme-button-color);
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.return-button .button:hover {
    background-color: #007bff;
}
