.favorites-section {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: var(--tg-theme-text-color, black);
    background: var(--tg-theme-bg-color);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    padding-bottom: 60px;
}

.catalog-icon {
    position: absolute;
    left: 0;
    margin-left: 20px;
    border-color: black;
    cursor: pointer;
}

.favorites-image-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px; /* Укажите фиксированную высоту, чтобы изображение не вылезало */
}

.favorites-image {
    object-fit: cover; /* Сохранение пропорций изображения без обрезки */
    width: 100%;
    height: 100%;
}

.favorites-details .favorites-price .price-highlight {
    color: red; /* Выделение цены красным */
}

.favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.favorite-active {
    color: red; /* Цвет иконки, когда товар в избранном */
}

.favorites-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    position: relative;
}

.favorites-details h2 {
    font-size: 16px;
    font-weight: bold;
}

.favorites-details p {
    font-size: 14px;
    color: #555;
}

.favorites-section h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.favorites-section .favorites-list {
    display: flex;
    flex-direction: column;
}

.favorites-section .favorites-item {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.total-price {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
