.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  width: 100%;
}

.search-row {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  width: 100%;
}

.category-button, .filter-button {
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  flex-shrink: 0;
}

.search-input {
  position: absolute;
  left: 0;
  top: 0;
  flex-grow: 1;
  min-width: 100px; /* Минимальная ширина для сжатого состояния */
  transition: width 0.3s ease, left 0.3s ease;  /* Плавное расширение */
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  opacity: 1;
  z-index: 1;
}

.search-input:focus {
  width: 100%; /* Ширина при фокусе */
  border-color: black;  /* Изменение цвета рамки при фокусе */
}

.filter-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-icon {
  font-size: 18px;
}

.search-row .category-button,
.search-row .filter-button {
  opacity: 0; /* Кнопки исчезают, когда строка поиска в фокусе */
  pointer-events: none; /* Отключаем взаимодействие с кнопками */
}

.search-input:focus ~ .search-row .category-button,
.search-input:focus ~ .search-row .filter-button {
  opacity: 0; /* Кнопки становятся невидимыми, когда строка поиска в фокусе */
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
  .search-row {
    gap: 5px;
  }

  .search-input {
    width: 100%; /* Поле ввода будет занимать всю доступную ширину */
  }
}

@media (max-width: 480px) {
  .search-input {
    font-size: 14px; /* Уменьшаем шрифт на очень маленьких экранах */
  }
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-select {
  padding: 10px;
  border-radius: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

  