.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    padding-top: 0px;
}

.input {
    padding: 10px;
    margin-top: 15px;
}

.input-comment {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}

.inputItem {
    width: 20%;
    height: 30px;
    padding: 10px;
    margin: 15px;
}

.btn-add-clothes {
    font-size: large;
    border: 2px black;
    background: green;
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.btn-change-clothes {
    font-size: large;
    border: 2px black;
    background: rgb(84, 84, 213);
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.btn-delete-clothes {
    font-size: large;
    border: 2px black;
    background: rgb(212, 27, 27);
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.btn-confirm {
    font-size: large;
    width: 30%;
    border: 2px black;
    background: rgb(96, 142, 28);
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.example_product {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 10px;
    padding-top: 5px;
    width: 170px;
}

.example {
    padding-left: 20px;
}

.example_img {
    width: 103px;
    height: 140px;
    margin: 0 auto;

}

.description {
    font-size: 0.8em;
} 

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.list {
    padding-top: 10px;
}