.header {
    display: flex;
    justify-content: center;  /* Центрируем по горизонтали */
    align-items: center;      /* Центрируем по вертикали */
    height: 100vh;            /* Занимает всю высоту экрана */
    width: 100%;
    padding-top: 5px;
}

.mainLogo {
    height: fit-content;
    justify-content: center;
    align-items: center;
    /* width: 150px; */
}


