.header {
    display: flex;
    justify-content: center;  
    align-items: center; 
    height: 100hv;            
    width: 100%;
    padding-top: 5px;
}

.mainLogo {
    height: fit-content;
    align-items: center;
    /* width: 150px; */
}



