.header {
    width: 100%;
    height: 300px;
    display: flex;
    padding: 0 20px;
    border: 3px solid black;
    align-content: center;
}

.username {
    margin-left: auto;
}

.closeButton {
    height: fit-content;
    border: 3px solid black;

}

.mainLogo {
    height: fit-content;
    border: 3px solid black;
    align-items: center;
}

.tagline {
    font-size: x-small;
    color: var(--tg-theme-hint-color);
    margin: 0 40px;
}
