.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    max-width: 250px;
    width: 170px;
    background-color: whitesmoke;
    border-radius: 10px;
    color: black;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-card-img-container {
    width: 100%;
    height: 200px;
    margin: 1px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
}

.product-card-favorite-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.product-card-favorite-icon:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 1);
}

.product-card-favorite-icon img {
    transition: filter 0.3s ease, transform 0.3s ease;
    width: 18px;
    height: 18px;
}

.product-card-favorite-icon img.active {
    filter: brightness(1.5);
}

.product-card-item-info {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    font-size: calc(1em + 1px);
}

.product-card-item-info .product-card-price p {
    font-weight: bold;
    margin: 0;
}

.product-card-item-info .product-card-brand p,
.product-card-item-info .product-card-category p,
.product-card-item-info .product-card-brandSize p {
    margin: 0;
}